pipeline/append variable activity.json
{
	"name": "append variable activity",
	"properties": {
		"activities": [
			{
				"name": "Append variable1",
				"type": "AppendVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "Marks",
					"value": "90"
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Append variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "temp",
					"value": {
						"value": "@variables('Marks')",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"Marks": {
				"type": "Array",
				"defaultValue": [
					89,
					50,
					78,
					40
				]
			},
			"temp": {
				"type": "Array"
			}
		},
		"annotations": [],
		"lastPublishTime": "2023-08-17T03:56:18Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}