pipeline/area calculation.json
{
	"name": "area calculation",
	"properties": {
		"description": "we are calculation area.",
		"activities": [
			{
				"name": "Set Length",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "Length",
					"value": "10"
				}
			},
			{
				"name": "Set Breadth",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "Breadth",
					"value": "7"
				}
			},
			{
				"name": "Calculating Area",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Set Length",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Set Breadth",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "Area",
					"value": {
						"value": "@{mul(    int(variables('Length')) , \n            int(variables('Breadth'))\n        )}",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[efn].[uspPipelineStartLogs]",
						"storedProcedureParameters": {
							"pipelinename": {
								"type": "String",
								"value": {
									"value": "@pipeline().Pipeline",
									"type": "Expression"
								}
							},
							"runid": {
								"type": "String",
								"value": {
									"value": "@pipeline().RunId",
									"type": "Expression"
								}
							},
							"status": {
								"type": "String",
								"value": {
									"value": "@variables('starting status')",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "AzureSqlTable1_emp",
						"type": "DatasetReference"
					}
				}
			}
		],
		"variables": {
			"Length": {
				"type": "String"
			},
			"Breadth": {
				"type": "String"
			},
			"Area": {
				"type": "String"
			},
			"starting status": {
				"type": "String",
				"defaultValue": "Running"
			}
		},
		"annotations": [],
		"lastPublishTime": "2023-08-24T16:26:09Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}