pipeline/area calculation.json
{
	"name": "area calculation",
	"properties": {
		"description": "we are calculation area.",
		"activities": [
			{
				"name": "Set Length",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "Length",
					"value": "10"
				}
			},
			{
				"name": "Set Breadth",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "Breadth",
					"value": "7"
				}
			},
			{
				"name": "Calculating Area",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Set Length",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Set Breadth",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "Area",
					"value": {
						"value": "@{mul(    int(variables('Length')) , \n            int(variables('Breadth'))\n        )}",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"Length": {
				"type": "String"
			},
			"Breadth": {
				"type": "String"
			},
			"Area": {
				"type": "String"
			},
			"starting status": {
				"type": "String",
				"defaultValue": "Running"
			}
		},
		"annotations": [],
		"lastPublishTime": "2023-08-24T16:26:09Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}