pipeline/Logs 630.json
{
	"name": "Logs 630",
	"properties": {
		"activities": [
			{
				"name": "Start log",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[dbo].[uspPipelineExecutionStartLogs]",
						"storedProcedureParameters": {
							"dfName": {
								"type": "String",
								"value": {
									"value": "@pipeline().DataFactory",
									"type": "Expression"
								}
							},
							"pipelineName": {
								"type": "String",
								"value": {
									"value": "@pipeline().Pipeline",
									"type": "Expression"
								}
							},
							"runID": {
								"type": "String",
								"value": {
									"value": "@pipeline().RunId",
									"type": "Expression"
								}
							},
							"status": {
								"type": "String",
								"value": {
									"value": "@variables('Status_Starting')",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "AzureSqlTable1_emp",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "End Log Success",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Execute Pipeline1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[uspPipelineExecutionEndLogs]",
					"storedProcedureParameters": {
						"errorMessage": {
							"value": null,
							"type": "String"
						},
						"id": {
							"value": {
								"value": "@activity('Start log').output.value[0].id",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"status": {
							"value": {
								"value": "@variables('Status_Success')",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ls_efndb",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "End Log Failed",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Execute Pipeline1",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[uspPipelineExecutionEndLogs]",
					"storedProcedureParameters": {
						"errorMessage": {
							"value": {
								"value": "@activity('Execute Pipeline1').Error.message",
								"type": "Expression"
							},
							"type": "String"
						},
						"id": {
							"value": {
								"value": "@activity('Start log').output.value[0].id",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"status": {
							"value": {
								"value": "@variables('Status_Failed')",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ls_efndb",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Execute Pipeline1",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Start log",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "area calculation",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			}
		],
		"variables": {
			"Status_Starting": {
				"type": "String",
				"defaultValue": "Running"
			},
			"Status_Success": {
				"type": "String",
				"defaultValue": "Success"
			},
			"Status_Failed": {
				"type": "String",
				"defaultValue": "Failed"
			}
		},
		"annotations": []
	}
}