pipeline/pipeline5.json
{
	"name": "pipeline5",
	"properties": {
		"activities": [
			{
				"name": "Fetch emp data",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select ProductNumber\nfrom saleslt.product",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "AzureSqlTable1_emp",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Set total records in table",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Fetch emp data",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "count",
					"value": {
						"value": "@activity('Fetch emp data').output.count ",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Until1",
				"type": "Until",
				"dependsOn": [
					{
						"activity": "Set total records in table",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greaterOrEquals(variables('Current_Record'),variables('count'))",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Append Enames",
							"type": "AppendVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "Ename",
								"value": {
									"value": "@activity('Fetch emp data').output.value[variables('Current_Record')].ProductNumber",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Set temp",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Append Enames",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "temp",
								"value": {
									"value": "@variables('Current_Record')",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Inc current record",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Set temp",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "Current_Record",
								"value": {
									"value": "@add(variables('temp'),1)",
									"type": "Expression"
								}
							}
						}
					],
					"timeout": "0.12:00:00"
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Until1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "Ename Temp",
					"value": {
						"value": "@variables('Ename')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Execute Pipeline1",
				"type": "ExecutePipeline",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "Power bill calculator",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"slab": 3,
						"noofUnits": 350
					}
				}
			}
		],
		"variables": {
			"count": {
				"type": "Integer"
			},
			"Ename": {
				"type": "Array",
				"defaultValue": []
			},
			"Current_Record": {
				"type": "Integer",
				"defaultValue": 0
			},
			"temp": {
				"type": "Integer"
			},
			"Ename Temp": {
				"type": "Array"
			}
		},
		"annotations": [],
		"lastPublishTime": "2023-08-22T01:04:22Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}